/* 
    Created on : 21.07.2014, 10:31:40
    Author     : Stefan
*/
body{
    margin: 0px;
    font-family: Roboto;
}
#search {
    background-color: #fff;
    padding: 0 11px 0 13px;
    width: 300px;
    top: 10px;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    text-overflow: ellipsis;
}
#hide{
    position: absolute;
    right: 100px;
    top: 10px;
}
#map-canvas{
    height: 600px;
    width: auto;
}
#right{
    border-radius: 5px;
    position: absolute;
    right: 10px;
    top: 10px;
    height: 200px;
    width: 320px;
    display: none;
    background-color: #E5E3DF;
}
#maptype{
    position: absolute;
    right: 350px;
    top: 10px;
    z-index: 100;
}
.options {
    position: relative;
    left: 5px;
    top: 5px;
    width: 304px;
}
.error{
    color: red;
    visibility: hidden;
}
.sign{
    border-radius: 5px;
    position: absolute;
    right: 10px;
    top: 10px;
    display: none;
    background-color: #E5E3DF;
}
#signup{
    height: 300px;
    width: 320px;
}
#login{
    height: 80px;
    width: 250px;
}